In [4]:
# Importing Labraries 
import pandas as pd
import numpy as np
import os

01. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [5]:
df_orders_products_combined = pd.read_pickle(r'C:\Users\alexg\InstacartBasketAnalysis\02Data\PreparedData\orders_products_combined.pkl')

In [6]:
df_products_wrangled = pd.read_csv(r'C:\Users\alexg\InstacartBasketAnalysis\02Data\PreparedData\products_wrangled.csv', index_col = False)

In [7]:
df_prods = pd.read_csv(r'C:\Users\alexg\InstacartBasketAnalysis\02Data\OriginalData\products.csv', index_col = False)

In [8]:
df_prods_checked = pd.read_csv(r'C:\Users\alexg\InstacartBasketAnalysis\02Data\PreparedData\products_checked.csv', index_col = False)

02. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [10]:
df_prods_checked.shape

(49693, 6)

In [11]:
df_prods_checked.describe

<bound method NDFrame.describe of        Unnamed: 0  product_id  \
0               0           1
1               1           2
2               2           3
3               3           4
4               4           5
...           ...         ...
49688       49688       49684
49689       49689       49685
49690       49690       49686
49691       49691       49687
49692       49692       49688

                                            product_name  aisle_id  \
0                             Chocolate Sandwich Cookies        61
1                                       All-Seasons Salt       104
2                   Robust Golden Unsweetened Oolong Tea        94
3      Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4                              Green Chile Anytime Sauce         5
...                                                  ...       ...
49688          Vodka, Triple Distilled, Twist of Vanilla       124
49689                 En Croute Roast Hazelnut Cranberry        42
49690                                   Artisan Baguette       112
49691         Smartblend Healthy Metabolism Dry Cat Food        41
49692                             Fresh Foaming Cleanser        73

       department_id  prices
0                 19     5.8
1                 13     9.3
2                  7     4.5
3                  1    10.5
4                 13     4.3
...              ...     ...
49688              5     5.3
49689              1     3.1
49690              3     7.8
49691              8     4.7
49692             11    13.5

[49693 rows x 6 columns]>

In [12]:
df_orders_products_combined.shape

(32640421, 23)

In [13]:
df_prods.describe

<bound method NDFrame.describe of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49693 rows x 5 columns]>

In [14]:
df_products_wrangled.describe

<bound method NDFrame.describe of     Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing>

In [15]:
df_products_wrangled.shape

(21, 2)

In [16]:
df_orders_products_combined.describe

<bound method NDFrame.describe of          order_id user_id  order_number  orders_day_of_week  \
0       2539329.0       1           1.0                 2.0
1       2398795.0       1           2.0                 3.0
2        473747.0       1           3.0                 3.0
3       2254736.0       1           4.0                 4.0
4        431534.0       1           5.0                 4.0
...           ...     ...           ...                 ...
206204        NaN  168073           NaN                 NaN
206205        NaN   49635           NaN                 NaN
206206        NaN  135902           NaN                 NaN
206207        NaN   81095           NaN                 NaN
206208        NaN   80148           NaN                 NaN

        order_hour_of_day  days_since_prior_order  product_id  \
0                     8.0                     NaN       196.0
1                     7.0                    15.0       196.0
2                    12.0                    21.0       196.0
3                     7.0                    29.0       196.0
4                    15.0                    28.0       196.0
...                   ...                     ...         ...
206204                NaN                     NaN         NaN
206205                NaN                     NaN         NaN
206206                NaN                     NaN         NaN
206207                NaN                     NaN         NaN
206208                NaN                     NaN         NaN

        add_to_cart_order  reordered _merge  ... prices  first_name  \
0                     1.0        0.0   both  ...    9.0         NaN
1                     1.0        1.0   both  ...    9.0         NaN
2                     1.0        1.0   both  ...    9.0         NaN
3                     1.0        1.0   both  ...    9.0         NaN
4                     1.0        1.0   both  ...    9.0         NaN
...                   ...        ...    ...  ...    ...         ...
206204                NaN        NaN    NaN  ...    NaN        Lisa
206205                NaN        NaN    NaN  ...    NaN      Jeremy
206206                NaN        NaN    NaN  ...    NaN       Doris
206207                NaN        NaN    NaN  ...    NaN        Rose
206208                NaN        NaN    NaN  ...    NaN     Cynthia

        last_name  gender           state   age date_joined dependants  \
0             NaN     NaN             NaN   NaN         NaN        NaN
1             NaN     NaN             NaN   NaN         NaN        NaN
2             NaN     NaN             NaN   NaN         NaN        NaN
3             NaN     NaN             NaN   NaN         NaN        NaN
4             NaN     NaN             NaN   NaN         NaN        NaN
...           ...     ...             ...   ...         ...        ...
206204       Case  Female  North Carolina  44.0    4/1/2020        1.0
206205    Robbins    Male          Hawaii  62.0    4/1/2020        3.0
206206   Richmond  Female        Missouri  66.0    4/1/2020        2.0
206207    Rollins  Female      California  27.0    4/1/2020        1.0
206208      Noble  Female        New York  55.0    4/1/2020        1.0

        marital_status    income
0                  NaN       NaN
1                  NaN       NaN
2                  NaN       NaN
3                  NaN       NaN
4                  NaN       NaN
...                ...       ...
206204         married  148828.0
206205         married  168639.0
206206         married   53374.0
206207         married   99799.0
206208         married   57095.0

[32640421 rows x 23 columns]>

In [17]:
df_merged_large_prods = df_prods.merge(df_orders_products_combined, on = ['product_id'], how = 'inner')

In [18]:
df_merged_large_prods

,product_id,product_name_x,aisle_id_x,department_id_x,prices_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,prices_y,first_name,last_name,gender,state,age,date_joined,dependants,marital_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138,28.0,6.0,11.0,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138,30.0,6.0,17.0,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709,2.0,0.0,21.0,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764,1.0,3.0,13.0,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764,3.0,4.0,17.0,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32437711,49688,Fresh Foaming Cleanser,73,11,13.5,1788356.0,200215,2.0,0.0,9.0,...,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32437712,49688,Fresh Foaming Cleanser,73,11,13.5,3401313.0,200377,1.0,4.0,11.0,...,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32437713,49688,Fresh Foaming Cleanser,73,11,13.5,809510.0,200873,5.0,3.0,8.0,...,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32437714,49688,Fresh Foaming Cleanser,73,11,13.5,2359893.0,200873,9.0,3.0,15.0,...,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32437715,49688,Fresh Foaming Cleanser,73,11,13.5,2385091.0,205926,11.0,1.0,15.0,...,13.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_merged_large_prods = df_merged_large_prods.drop(columns = ['eval_set'])

KeyError: "['eval_set'] not found in axis"

In [29]:
path = r'C:\Users\alexg\InstacartBasketAnalysis'

In [30]:
df_merged_large_prods.to_pickle(os.path.join(path, '02Data','PreparedData', 'orders_products_merged.pkl'))

In [31]:
df_merged_large_prods.to_csv(os.path.join(path, '02Data','PreparedData', 'orders_products_merged.csv'))